<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
  </configSections>

  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Rolling Flat File Error Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="C:\Inbox\Cecc_GPAH_Error.log" formatter="Text Formatter" rollInterval="Day" traceOutputOptions="DateTime" filter="Warning"/>
      <add name="Formatted EventLog TraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="Logger" formatter="Text Formatter" log="Application" machineName="" traceOutputOptions="None" filter="Error"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp(local)}{newline}
Message: {message}{newline}
Category: {category}{newline}
Priority: {priority}{newline}
EventId: {eventid}{newline}
Severity: {severity}{newline}
Title:{title}{newline}
Machine: {localMachine}{newline}
App Domain: {localAppDomain}{newline}
ProcessId: {localProcessId}{newline}
Process Name: {localProcessName}{newline}
Thread Name: {threadName}{newline}
Win32 ThreadId:{win32ThreadId}{newline}
Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter"/>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp(local)}
Title:{title}
Machine: {localMachine}
Message: {message}
Category: {category}
Severity: {severity}
Priority: {priority}
EventId: {eventid}
App Domain: {localAppDomain}
ProcessId: {localProcessId}
Process Name: {localProcessName}
Thread Name: {threadName}
Win32 ThreadId:{win32ThreadId}
Extended Properties: {dictionary({key} - {value}{newline})}" name="CTI Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="CICTelephonyEngine">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
        </listeners>
      </add>
      <add switchValue="All" name="CTIApplicationIntegration">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
        </listeners>
      </add>
      <add switchValue="All" name="QASSearchEngine">
        <listeners>
          <add name="Rolling Flat File Error Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Rolling Flat File Error Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Error Listener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="NewBinding0">
          <textMessageEncoding />
          <httpTransport keepAliveEnabled="false" />
        </binding>
      </customBinding>
      <basicHttpBinding>
        <binding name="QASOnDemand">
          <security mode="Transport"/>
          <!--<httpTransport keepAliveEnabled="false" />-->
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="QASOnDemandx">
          <security mode="Transport"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ws3.ondemand.qas.com/ProOnDemand/V3/ProOnDemandService.asmx" binding="basicHttpBinding" bindingConfiguration="QASOnDemand" contract="QAPortType" name="QAPortType"/>
    </client>
  </system.serviceModel>
  

  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
      <defaultProxy useDefaultCredentials="true">
        <!--<proxy
          autoDetect = "True" />-->
      </defaultProxy>
    </system.net>
  

<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
